 .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    width: 90vw;
    max-width: 230px;
  }

  #brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  #brand-container img {
    width: 25vw;
    height: 28vw;
    max-width: 140px;
    max-height: 130px;
    min-width: 80px;
    min-height: 90px;
  }

  #brand-container h1 {
    font-size: 1.5em;
    text-align: center;
  }
  @media only screen and (min-width: 400px) {
    #brand-container h1 {
      font-size: 2.0em;
    }
  }
  
  .login-form .form-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 20px;
    width: 80%;
    max-width: 280px;
    min-width: 120px;
  }
  
  .login-form label {
    margin-bottom: 5px;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-form button {
    background-color: #007bff;
    color: #fff;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;
    font-size: 16px;
    cursor: pointer;
  }