button {
    border: none;
    border-radius: 5px;
    padding: 3px 6px;
    font-family: 'Alkatra', cursive;
    height: 2.1em;
    cursor: pointer;
}


/* By types */
button.edit {
    height: fit-content;
    background-color: var(--transparent);
    width: 50px;
    margin: 0 auto;
    padding: 0!important;
    overflow: none;
}

button.edit img {
    width: 40px;
    margin: 0 auto;
}



/* Color settings */

button.primary {
    background-color: var(--primary);
    color: white;
}

button.secondary-dark {
    background-color: var(--secondary-dark);
    color: white;
}

button.success-dark {
    background-color: var(--success-dark);
    color: white;
}

button.warning {
    background-color: var(--warning);
    color: black;
    font-weight: 600;
}

button.warning:focus,
button.warning:active {
    background-color: var(--warning-darker);
    color: white;
    font-weight: 500;
}

button.danger-dark {
    background-color: var(--danger-dark);
    color: white;
}