.page-container {
    width: 95vw;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#territorios-list-container {
    width: 100%;
    margin-top: 45px;
}
  
.territorio {
    min-width: 350;
    padding: 3px 10px;
    text-align: start;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}

.territorio-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 25px 0;
}

.territorio-option {
    margin-right: 10vw;
}

.atividade-option {
    margin-left: 3px;
}

