.page-container {
    padding-top: 25px;
    width: 95vw;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

form.atividade-detalhes-form {
    display: inherit;
    flex-direction: inherit;
    width: 80%;
    font-size: 1.2em;
}

form.atividade-detalhes-form input, textarea {
    font-size: 0.9em;
    margin-bottom: 20px;
}

form.atividade-detalhes-form .input-warning-danger {
    font-size: 0.8em;
    color: var(--danger);
    margin: -20px 0 20px;
}

form.atividade-detalhes-form strong {
    font-weight: bold;
}